upstream {{name}} {
	server {{service_ip}}:{{ service_port }};
}

server {
	listen 80;
	listen 443 ssl;

	server_name {{ name }};

	server_tokens off;

	if ($scheme = http) {
		return 301 https://$host$request_uri;
	}
	
	access_log /var/log/nginx/{{ name }}.access.log;
	error_log /var/log/nginx/{{ name }}.error.log;

	ssl_certificate      /etc/letsencrypt/live/{{ name }}/fullchain.pem;
	ssl_certificate_key  /etc/letsencrypt/live/{{ name }}/privkey.pem;

	ssl_session_cache   shared:SSL:10m;
	ssl_session_timeout  5m;

	ssl_protocols  SSLv2 SSLv3 TLSv1;
	ssl_ciphers  HIGH:!aNULL:!MD5;
	ssl_prefer_server_ciphers   on;
	
	error_page 400 404 500 502 503 504 /50x.html;
	location  /50x.html {
		internal;
		root /usr/share/nginx/html;
	}

	location @{{name}} {
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Host $http_host;
		proxy_set_header X-NginX-Proxy true;

		proxy_intercept_errors on;

		proxy_pass http://{{ name }};
		proxy_redirect off;

		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "upgrade";
	}

	location / {
		try_files $uri @{{name}};
	}
}
